streamlit>=1.40,<2
numpy==1.26.4
pandas>=2.1,<3

opencv-python==4.10.0.84

deepface==0.0.100
tensorflow==2.16.1
tf-keras==2.16.0

librosa==0.10.2.post1
soundfile==0.12.1

faster-whisper==1.1.1
imageio-ffmpeg==0.5.1

textblob==0.18.0.post0
reportlab==4.2.5
Pillow==10.4.0
scipy==1.13.1
