streamlit==1.58.0
numpy==1.26.4
pandas==2.2.3

opencv-python-headless==4.10.0.84

librosa==0.10.2.post1
soundfile==0.12.1

faster-whisper==1.1.1
imageio-ffmpeg==0.6.0

textblob==0.18.0.post0
reportlab==4.2.5
Pillow==10.4.0
scipy==1.13.1
